:root {
  --lightgray: rgb(113, 113, 112);
  --gray: rgb(82, 82, 81);
  --orange: rgb(241, 154, 55);
}
@font-face {
  font-family: kanit;
  src: url(Kanit/Kanit-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kanit;
}
html,
body {
  height: 100vh;
}
.container {
  width: 340px;
  height: 610px;
  background-color: rgba(40, 40, 39, 0.9);
  border-radius: 10px;
  border: 2px var(--gray) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px var(--gray);
}
.display {
  width: 330px;
  height: 200px;
  color: white;
  position: relative;
}
.output {
  position: absolute;
  padding: 1rem;
  font-size: 3.5rem;
  bottom: 0px;
  right: 0px;
}
.flex {
  display: flex;
}
.num {
  margin: 3px;
}
input[type="button"] {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px var(--lightgray) solid;
  font-size: 1.75rem;
  color: white;
}

.lightgray {
  background-color: var(--lightgray);
}
.gray {
  background-color: var(--gray);
}
.orange {
  background-color: var(--orange);
}
